body {
	margin: 0;
	background-color: #FFFFFF;
}
canvas {
	width: 100%;
	height: 100%;
}
#heading {
	position:absolute;
	font: sans-serif;
	top: 40vh;
	width: 100%;
}
h1 {
	font: 40px arial, sans-serif;
}
p {
	font: 20px arial, sans-serif;
}
#loading {
	position:absolute;
	top: 40vh;
	width: 100%;
}
.menu-button {
    padding: 10px;
    position:absolute;
}
